Django==1.9.6
django-ajax-toolkit==0.3.0
django-autoslug==1.9.3
django-braces==1.8.1
django-cors-headers==1.1.0
django-oauth-toolkit==0.10.0
django-rgbfield==1.0
django-social-auth==0.7.28
django-static-precompiler==1.4
django-taggit==0.18.3
django-taggit-autosuggest==0.2.8
django-tinymce==2.3.0
django-voting==0.2
ipaddress==1.0.16
msgpack-python==0.3.0
oauth2==1.9.0.post1
oauthlib==1.0.3
Pillow==3.2.0
python-social-auth==0.2.19
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
South==1.0
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
static==0.4
wsgiref==0.1.2
psycopg2==2.5.1
django-colorful==1.1.0

