djangorestframework==3.3.3
Pillow==3.4.2
South==1.0
dj-static==0.0.5
wsgiref==0.1.2
amqp==1.4.6
celery==3.1.18
decorator==4.0.2
dj-database-url==0.3.0
Django==1.8.6
django-celery==3.1.16
django-kombu==0.9.4
gunicorn==19.3.0
kombu==3.0.26
Scrapy==1.0.3
scrapy-djangoitem==1.0.0
service-identity==14.0.0
simplegeneric==0.8.1
six==1.9.0
static==0.2
Twisted==15.3.0
