<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Third party js-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- Third party css-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

		<title>{% block title %} Live Your Sport{% endblock %}</title>

         <!-- Custom css-->
		<link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
		{% block head %}

		{% endblock %}

    </head>

	<body>

		{% block navbar_block  %}
			{% include 'navbar.html' %}
		{% endblock %}

		{% block content %}

		{% endblock %}

		<!-- cutom js file here -->
		{% block js_block %}

		{% endblock %}

	</body>

</html>
