table
  {
    border-spacing: 0;
    }

th,
td {
  padding: 10px 15px;
}

thead {
  background: #395870;
  color: #fff;

th {
  font-weight: bold;
}

td {
  border-bottom: 1px solid #cecfd5;
  width:auto;
  height:auto;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}


.dashboard-container{
    width:100%;
}



